/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #EDF0E0;
	background-image: ;
}

.nav {
	font-size: 3rem;
	padding: 20px;
}

.navbar {
	display: flex;
	justify-content: center;
	margin-bottom: 20rem;
}

.intro {
	font-size: 4rem;
	margin: 1.5rem;
	padding: 1rem;
}

.intro-name {
	font-size: 2.5rem;
	margin: 1.5rem;
	padding: 1rem;
}

.intro-sub {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem;
	margin: 1.7rem;
}

#bg-image {
	background-image: url(./images/scattered.png);
}




@media (min-width:  320px) {
	
	body{
		background-color: lightyellow
	}
}

/*Medium Device*/
@media (min-width:  768px) {
	
	body{
		background-color: lightgreen;
	}
}

/*Large Device*/
@media (min-width:  992px) {
	
	body{
		background-color: lightblue;
	}
}